<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7W-k6TkUPJSpdy4r4NvDNe9KS9HXIPPM</string>
	<key>GCM_SENDER_ID</key>
	<string>244710453749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aleynayerlikaya.travelApp</string>
	<key>PROJECT_ID</key>
	<string>travelapp-726bd</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-726bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244710453749:ios:fab59fda63e523ad8670bc</string>
</dict>
</plist>